<div class="indexBackground"></div>
<div class="main">
	<h1>Welcome to <span class="heroText">TheEffWasThat</span></h1>
	<span class="introText">This is a website aimed at monitoring micro (and macro) aggressions within minority communities at the workplace.</span>
	<div class="surveyButton">
		<span class="surveyButtonText"> <%= link_to "Want to help?", new_surveys_path%> </span> 
	</div>
</div>
