<%= link_to 'Home', root_path %>

<h1>Thanks!</h1>

<h2> For more information about Microaggressions, check out this resources! </h2>
<ul>
	<li><a href="https://en.wikipedia.org/wiki/Microaggression_theory"> Wikipedia!</a></li>
	<li><a href="https://www.buzzfeed.com/hnigatu/racial-microagressions-you-hear-on-a-daily-basis?utm_term=.sjo5NVY7K#.kfNbdzWJ2">Buzzfeed Wrote Something!</a></li>
	<li><a href="http://www.microaggressions.com/">A (Sort of) Good Blog on Microaggressions</a></li>
</ul>