.indexBackground {
	height: 100%;
	width: 100%;
	background-image: image-url('orange-office.jpg');
	background-size: cover;
}

.main {
	@include span-columns(6);
	@include shift(3);
	text-align:center;
	@include background-opacity($blue,0.7);
	overflow: scroll;
	padding-top: 4px;
	padding-bottom: 12px;
	margin-top:20px;
	color: $white;
	@include media(max-width 480px) {
		h1 {
			font-size: 14px;
		}
		.introText {
			font-size: 12px;
		}
	}
	border-radius:10px;
	border: 5px solid $black;
}

.surveyButton {
	@include span-columns(6);
	@include shift(3);
	text-align:center;
	font-size: 30px;
	padding-top:5%;
}

.introText {
	font-size: 18px
}

.welcomeOverlay {
	position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.welcomeModal {
	position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

.welcomeModalContent {
    border-radius:8px;
    background:#fff;
    padding:20px;
}