.indexBackground {
	height: 100%;
	width: 100%;
	@include media(min-width $desktop) {
		background-image: image-url('orange-office.jpg');
	}
	background-color: #eee;
	background-size: cover;
	@include filter(grayscale(0%) blur(0px));
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
}

.main {
	@include span-columns(10);
	@include shift(1);
	text-align:center;
	@include background-opacity($blue,0.7);
	overflow: scroll;
	padding-top: 4px;
	padding-bottom: 12px;
	color: $white;
	border-radius:10px;
	border: 5px solid $black;
	.heroText {
		font-style: italic;
	}
}

.surveyButton {
	@include span-columns(8);
	@include shift(2);
	text-align:center;
	font-size: 30px;
	padding-top:5%;
}

.surveyButtonText a {
	font-size:35px;
	color:#d3d3d3;
	border: 3px solid black;
	display:block;
	border-radius: 25px;
	padding: 5px;
	background-color: red;
}

.introText {
	font-size: 26px;
}



