.error {
	text-align:center
}

.survey {
	margin:0 15px;
	input, select {
		border: 1px solid red;
		box-shadow: 10px 10px 5px #888888;
	}
	label {
		text-align:center;
		border: 1px solid green;
		box-shadow: 1px 5px 2.5px #888888
	}
	@include media(769px) {
		label {
			@include span-columns(8)
		}
		input, select {
			@include span-columns(3)
		}
	}
}

.simpleResponse {
	@include span-columns(8);
}

.surveyHeader {	
	background-color:red;
	text-align:center;
}

.submitSurvey {
	margin-left:35%;
}